<h3 class="text-center rainbow rainbow-text-animated pb-3">
  Welcome to Nijika Ichiji's Affeciando Website.
</h3>
<!-- images -->
<div class="d-flex justify-content-center align-items-center h-100 text-center rounded">
  <div
    class="img-holder text-center rounded"
    style="width: 350px; height: 350px"
  >
    <img
      src="/images/wife1.gif"
      alt="Example Image"
      class="rounded shake nijika1"
      width="350"
      height="350"
    />
    <img
      src="/images/Nijia.jpg"
      alt="Example Image"
      class="rounded nijika2"
      width="350"
      height="350"
    />
  </div>
</div>
<!-- end of images -->
<h5 class="text-center pt-5">
  Hello! Welcome to Nijika Ichiji Affeciando Website. Please be advised, <br />
  this website is still incomplete. So if there are features missing, <br />
  or questionable UI decisions, please forgive me Q_Q
</h5>
<div class="d-flex justify-content-center align-items-center text-center">
  <a
    class="btn btn-outline-primary btn-lg m-2"
    href="<%= gallery_index_path %>"
    role="button"
    rel="nofollow"
    >Go to Gallery</a
  >
  <a
    class="btn btn-outline-secondary btn-lg m-2"
    href="#"
    role="button"
    onclick="buttonPopAlert()"
    >JS popup :)</a>
</div>

  <script>
function buttonPopAlert() {
  alert("boo :)");
}
</script>
